<div class="login_page clearfix">
  <div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="tunaweza_logo">

            </div>
            <div class="login_heading">
              <h3> Tunaweza Asset Management </h3>
            </div>

            <div>
                <div *ngIf="errorMsg" class="alert alert-danger alert-dismissable">
                        {{errorMsg}}
                </div>
                <form  name="loginForm" #loginForm="ngForm" [ngStyle]="{'display': loading?'none':''}">
                    <div class="input-field">
                        <input  id="username"
                                name="username"
                                placeholder="username"
                                [(ngModel)]="username"
                                required
                        />
                    </div>
                    <div class="input-field">
                        <input
                                id="password"
                                name="password"
                                placeholder="password"
                                type="password"
                                [(ngModel)]="password"
                                required
                        />
                    </div>
                    <button (click)="login()" class="btn btn-submit" [disabled]="loginForm.form.valid == false">Login </button>

                </form>
                <a [routerLink]="['/password/reset/']"  class="forgot_link" >Forgot password? </a>

            </div>
        </div>
    </div>
  </div>
</div>
