.navigation {
    height: calc(100vh + 25px);
    background: linear-gradient(rgba(209,31,93,0.3) ,rgba(209,31,93,0.9)), url("../../../assets/tuna_dash.jpg");;
    position: fixed;
    background-position-x: 70%;
}
.navigation_title {
    font-size: 21px !important;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.side-nav.fixed {
    position: relative !important;
}
.side-nav {
    width: 100%;
    background-color: transparent;
    box-shadow: none;
}
.side-nav li>a {
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    padding: 0px;
    padding-left: 5px;
}
.side-nav ul {
    background: rgba(209,46,96,0.3);
}
.tunaweza_logo{
    background-image: url("../../../assets/tunaweza_logo.png");
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    margin: 0 auto;
    margin-top: 10vh;
}
