<div class="dashboard-page row">
  <as-navbar></as-navbar>
  <div class="dashboard-content col s10">
    <nav>
      <div class="nav-wrapper">
        <div class="col s12">
          <h3 class="content-title"> Assets Summary </h3>
        </div>
      </div>
    </nav>
    <div *ngIf="!loading" >
        <div class="row">
          <div class="col s12 m6">
            <div class="card teal darken-1">
              <div class="card-content white-text">
                <span class="card-title"> Total Assets Cost </span>
                <p class="stats"> Number of Assets :  {{depreciationlist.length}}</p>
                <p class="stats"> Total Assets Cost : {{total_assets_cost | currency:'KES'}}</p>
              </div>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card teal darken-1">
              <div class="card-content white-text">
                <span class="card-title"> Total Assets Value </span>
                <p class="stats"> Number of Assets : {{depreciationlist.length}} </p>
                <p class="stats"> Total Assets Value : {{total_assets_value | currency:'KES'}}</p>
              </div>
            </div>
          </div>
          <div class="col s12 m6 push-m3">
            <div class="card teal darken-1">
              <div class="card-content white-text">
                <span class="card-title"> Total Assets Depreciation </span>
                <p class="stats"> Number of Assets : {{depreciationlist.length}} </p>
                <p class="stats"> Total Depreciation Cost : {{total_depreciation_value | currency:'KES'}}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
