<div class="row">
<as-navbar></as-navbar>
  <div class="col s10 assets-content">
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <h3 class="content-title"> Add New Asset </h3>
          </div>
        </div>
      </nav>
    <div class="row" *ngIf="!loading">
      <div class="col s12 m8 offset-m2 new-asset">
        <div *ngIf="errorMsg" class="alert alert-danger alert-dismissable">
                        {{errorMsg}}
        </div>
        <div *ngIf="sucsMsg" class="alert alert-success alert-dismissable">
                        {{sucsMsg}}
        </div>
        <form [formGroup]="assetForm" (ngSubmit)="addNewAsset()">
          <div class="input-field col s12">
              <input id="title" type="text" class="validate" name="title" formControlName="title">
              <label for="title">Asset Title</label>
          </div>
          <div class="input-field col s12">
              <input id="price" type="number" class="validate" formControlName="price" name="price">
              <label for="price">Cost of Acquisition</label>
          </div>
          <div class="input-field col s12">
              <input placeholder="yyyy-mm-dd" id="doa" type="text" class="validate" formControlName="doa" name="doa">
              <label for="doa">Date of Acquisition</label>
          </div>
          <div class="input-field col s12">
              <input id="serialnumber" type="text" class="validate" name="serialnumber" formControlName="serialnumber">
              <label for="serialnumber">Serial Number </label>
          </div>
          <div class="input-field col s12">
              <select id="assignee_id" name="assignee_id" formControlName="assignee_id">
                <option disabled selected value=""> Assignee </option>
                <option value="{{user.id}}" *ngFor="let user of assignee_list.results;"> {{user.username}}</option>
              </select>
          </div>
          <div class="input-field col s12">
              <select id="depreciation_id" name="depreciation_id" formControlName="depreciation_id">
                <option disabled selected value=""> Depreciation </option>
                <option value="{{class.id}}" *ngFor="let class of classes_list.results; let i = index"> {{class.dclass}}</option>
              </select>
          </div>
          <div class="input-field right">
            <button class="waves-effect waves-light btn blue" type="submit"> Submit Asset </button>
          </div>


        </form>
      </div>
    </div>
  </div>

</div>
