<div class="row">
<as-navbar></as-navbar>
  <div class="col s10 assets-content">
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <h3 class="content-title"> Add New Asset </h3>
          </div>
        </div>
      </nav>
    <div class="row" *ngIf="!loading">
      <div class="col s12 m8 offset-m2 new-asset">
        <form>
          <div class="input-field col s12">
              <input id="title" type="text" class="validate">
              <label for="title">Asset Title</label>
          </div>
          <div class="input-field col s12">
              <input id="price" type="text" class="validate">
              <label for="price">Cost of Acquisition</label>
          </div>
          <div class="input-field col s12">
              <input placeholder="mm/dd/yyyy" id="doa" type="text" class="validate">
              <label for="doa">Date of Acquisition</label>
          </div>
          <div class="input-field col s12">
              <input id="serialnumber" type="text" class="validate">
              <label for="serialnumber">Serial Number </label>
          </div>
          <div class="input-field col s12">
              <select id="assignee_id" name="assignee_id"  *ngFor="let user of assignee_list.results; let i = index">
                <option value="" disabled selected *ngIf="i === 0"> Assignee </option>
                <option value="{{user.id}}"> {{user.username}}</option>
              </select>
          </div>
          <div class="input-field col s12">
              <select id="depreciation_id" name="depreciation_id">
                <option value="" disabled selected> Depreciation </option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
          </div>
          <div class="input-field right">
            <button class="waves-effect waves-light btn blue" (click)="viewAsset(asset.id)"> Submit Asset </button>
          </div>


        </form>
      </div>
    </div>
  </div>

</div>
