<div class="row">
<as-navbar></as-navbar>
  <div class="col s10 assets-content">
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <h3 class="content-title"> Tunaweza Assets </h3>
          </div>
        </div>
      </nav>
    <div class="row" *ngIf="!loading">
        <table class="highlight assets-table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>DOA</td>
                    <td>Serial Number </td>
                    <td>Purchase Cost </td>
                    <td>Depreciation Class </td>
                    <td>Depreciation Rate </td>
                    <td> Assignee </td>

                    <td>Actions </td>


                </tr>
            </thead>
            <tbody *ngFor="let asset of assetslist.results">
                <tr>

                    <td>
                        {{asset.id}}
                    </td>
                    <td>
                        {{asset.title}}
                    </td>
                    <td>
                        {{asset.doa}}
                    </td>
                    <td>
                        {{asset.serialnumber}}
                    </td>

                    <td>
                        {{asset.price}}(KES)
                    </td>
                    <td>
                        {{asset.depreciation.dclass}}
                    </td>
                    <td>
                        {{asset.depreciation.rate}}%
                    </td>
                    <td>
                        {{asset.assignee.username}}
                    </td>


                </tr>
            </tbody>
        </table>
    </div>
  </div>

</div>
