<div class="row">
<as-navbar></as-navbar>
  <div class="col s10 assets-content">
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <h3 class="content-title"> Tunaweza Assets </h3>
          </div>
        </div>
      </nav>
    <div class="container" *ngIf="!loading">
        <table class="highlight assets-table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>DOA</td>
                    <td>Serial Number </td>
                    <td>Price </td>
                    <td>Depreciation Class </td>
                    <td>Actions </td>


                </tr>
            </thead>
            <tbody *ngFor="let asset of assetslist.results">
                <tr>

                    <td>
                        {{asset.id}}
                    </td>
                    <td>
                        {{asset.Name}}
                    </td>
                    <td>
                        {{asset.DOA}}
                    </td>
                    <td>
                        {{asset.SerialNumber}}
                    </td>

                    <td>
                        {{asset.Price}}
                    </td>
                    <td>
                        {{asset.DepClass}}
                    </td>


                </tr>
            </tbody>
        </table>
    </div>
  </div>

</div>
