
nav {
  background: rgba(209,31,93,0.9)
}

.content-title {
    text-align: center;
    font-weight: 100;
    padding-top: 10px;
    margin-top: auto;
    font-size: 35px;
}
.assets-content {
  float:right!important;
  margin-top: 25px;
}
.assets-table {
  text-transform: uppercase;
  margin-top: 40px;
}

.depreciation_form {
  padding-top: 10vh;
}
.btn, .btn-large {
    background-color: #9BC01C;
}
.btn-submit {
  text-align: center;
  margin: 0px auto;
  display: inherit;
}
