
nav {
  background: rgba(209,31,93,0.9)
}

.content-title {
    text-align: center;
    font-weight: 100;
    padding-top: 10px;
    margin-top: auto;
    font-size: 35px;
}
.assets-content {
  float:right!important;
  margin-top: 25px;
}
.assets-table {
  text-transform: uppercase;
  margin-top: 40px;
}

.depreciation_form {
  padding-top: 10vh;
}
.btn, .btn-large {
    background-color: #9BC01C;
}
.btn-submit {
  text-align: center;
  margin: 0px auto;
  display: inherit;
}
table {
    width: 100%;
    display: table;
    background: #fff;
    margin-top: 20px;
    padding: 10px;
}
thead {
  background: #f5f5f5;
  text-transform: capitalize;
}
tr {
  border-bottom: 1px solid grey;
}
th {
  padding-left: 10px;
  font-weight: 300;
  font-size: 18px;
}
td {
    padding-left: 10px;
}
.bottom-fab {
    position: fixed;
    bottom: 5vh;
    left: 95vw;
}
tfoot {
    background: #f5f5f5;
}
tfoot th {
    font-weight: 500 !important;
    text-transform: uppercase;
}
.export {
    margin-bottom: 10px;
    margin-top: 10px;
}
.alert.alert-danger.alert-dismissable {
    text-align: center;
    color: #fff;
    font-family: "Raleway";
    background: #FFD64D;
    padding: 10px;
}
.alert.alert-success.alert-dismissable {
    text-align: center;
    color: teal;
    font-family: "Raleway";
    background: #FFD64D;
    padding: 10px;
}
