<div class="navigation col s2">
      <div class="tunaweza_logo">

      </div>
    <section>
      <h3 class="navigation_title"> Asset Management </h3>
      <ul class="navigation-list side-nav fixed">
        <li class="bold">
          <a class="waves-effect waves-teal" (click)="goto('dashboard')"> Dashboard </a>
        </li>
        <li class="bold">
          <a class="waves-effect waves-teal" (click)="goto('assets')"> Assets </a>
        </li>
        <li class="bold">
          <a class="waves-effect waves-teal" (click)="goto('depreciation-classes')"> Depreciation Classes </a>
        </li>

        <li class="bold">
          <a class="waves-effect waves-teal" (click)="goto('depreciation')"> Depreciation Reports </a>
        </li>
        <li class="bold">
          <a class="waves-effect waves-teal" (click)="logout()"> Logout </a>
        </li>
      </ul>
    </section>
</div>
