<div class="row">
<as-navbar></as-navbar>
  <div class="col s10 assets-content">
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <h3 class="content-title"> Asset Depreciation </h3>
          </div>
        </div>
      </nav>
    <div class="row" *ngIf="!loading">
      <div class="col s8 offset-s2" style="padding: 10px">
          <table>
              <thead>

              </thead>
              <tbody *ngFor="let asset of depreciationlist">
                <tr>

                    <td>
                        {{asset.title}}
                    </td>
                    <td>
                        {{asset.doa}}
                    </td>
                    <td>
                        {{asset.serialnumber}}
                    </td>

                    <td>
                        {{asset.price}}(KES)
                    </td>
                    <td>
                        {{asset.depreciation.rate}}
                    </td>
                    <td>
                        <tr *ngFor="let depreciation of asset.depreciation_results">
                             <td> {{ depreciation.month }} </td>
                            <td> {{ depreciation.value }} </td>
                        </tr>
                    </td>
                </tr>
            </tbody>
          </table>
      </div>
  </div>

</div>
