<div class="row">
<as-navbar></as-navbar>
  <div class="col s10 assets-content">
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <h3 class="content-title"> Asset Depreciation Report </h3>
          </div>
        </div>
      </nav>
    <div class="row" *ngIf="!loading">
      <div>
          <table>
              <thead>
                <tr>
                  <th>
                    Asset
                  </th>
                  <th>
                    Date of Acquisition
                  </th>
                  <th>
                    Serial Number
                  </th>
                  <th>
                    Cost of Acquisition
                  </th>
                  <th>
                    Deprecition Rate
                  </th>
                  <th>
                    Value of Asset
                  </th>
                  <th>
                    View Details
                  </th>
                </tr>
              </thead>
              <tbody *ngFor="let asset of depreciationlist;">
                <tr>

                    <td>
                        {{asset.title}}
                    </td>
                    <td>
                        {{asset.doa}}
                    </td>
                    <td>
                        {{asset.serialnumber}}
                    </td>

                    <td>
                        {{asset.price | currency:'KES'}}
                    </td>
                    <td>
                        {{asset.depreciation.rate}}
                    </td>
                    <td>
                      {{ asset.depreciation_results[asset.depreciation_results.length - 1].value}}
                    </td>
                    <td>
                      <button class="waves-effect waves-light btn blue" (click)="viewDetails(asset.id)"> View  Details </button>
                    </td>
                </tr>
            </tbody>
          </table>
      </div>
  </div>

</div>
