<div class="row">
<as-navbar></as-navbar>
  <div class="col s10 assets-content">
      <nav>
        <div class="nav-wrapper">
          <div class="col s12">
            <h3 class="content-title"> Asset Depreciation </h3>
          </div>
        </div>
      </nav>
    <div class="row" *ngIf="!loading">
      <div>
          <table>
              <thead>

              </thead>
              <tbody *ngFor="let asset of depreciationlist;">
                <tr>

                    <td>
                        {{asset.title}}
                    </td>
                    <td>
                        {{asset.doa}}
                    </td>
                    <td>
                        {{asset.serialnumber}}
                    </td>

                    <td>
                        {{asset.price}}(KES)
                    </td>
                    <td>
                        {{asset.depreciation.rate}}
                    </td>
                    <td>
                      {{ asset.results }}
                    </td>
                    <td>
                      {{ asset.depreciation_results[asset.results].value}}
                    </td>
                    <td>
                      {{ asset.depreciation_results[0].depreciation }}
                    </td>
                </tr>
            </tbody>
          </table>
      </div>
  </div>

</div>
